@font-face {
    font-family: 'Futura Bold';
    src: url('../assets/fonts/Futura\ Bold\ font.ttf');
}
@font-face {
    font-family: 'Futura Heavy';
    src: url('../assets/fonts/Futura\ Heavy\ font.ttf');
}
@font-face {
    font-family: 'Futura Light';
    src: url('../assets/fonts/Futura\ Light\ font.ttf')
}
@font-face {
    font-family: 'Futura Medium';
    src: url('../assets/fonts/futura\ medium\ bt.ttf');
}



$bg-color: #10100E;
$text-color: #F8F1E8;
$bold: 'Futura Heavy';
$medium: 'Futura Medium';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: $bg-color;
    color: $text-color;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper  {
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        h1 {
            font-family: 'Futura Heavy';
            font-size: 64px;
            letter-spacing: 0.01em;
        }
        p {
            font-family: 'Futura Medium';
            font-size: 20px;
            letter-spacing: 0.02em;
            line-height: 1.6;
        }
    }
}