@font-face {
    font-family: 'Futura Bold';
    src: url('../assets/fonts/Futura\ Bold\ font.ttf');
}
@font-face {
    font-family: 'Futura Heavy';
    src: url('../assets/fonts/Futura\ Heavy\ font.ttf');
}
@font-face {
    font-family: 'Futura Light';
    src: url('../assets/fonts/Futura\ Light\ font.ttf')
}
@font-face {
    font-family: 'Futura Medium';
    src: url('../assets/fonts/futura\ medium\ bt.ttf');
}



$bg-color: #10100E;
$text-color: #F8F1E8;
$bold: 'Futura Heavy';
$medium: 'Futura Medium';


@mixin body-format {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.6;
    font-family: $medium;
}

@mixin heading-format {
    font-family: 'Futura Heavy';
    font-size: 64px;
    letter-spacing: 0.01em;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $text-color;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include body-format;
}